// communication
.section-communication#anchor
	.container
		.section-communication__wrapper
			.section-communication__col
				h3.title Свяжитесь с нами
				ul.section-communication__contacts
					li
						a(href="+79777760480") 
							.other-icon.other-icon--tel
							span +7 (977) 776-04-80
					li
						a(href="https://goo.gl/maps/udJpjGYiVY2qdoGq7" target="_blank")
							.other-icon.other-icon--location
							span ​Карла Маркса, 6
					li
						a(href="+74983037858")
							.other-icon.other-icon--tel
							span +7 (498) 303-78-58
					li
						a(href="https://goo.gl/maps/yuMNYd57nvBVdVCX6" target="_blank")
							.other-icon.other-icon--location
							span Карла Маркса, 68
				h3.title Напишите нам
				ul.section-communication__social
					li
						.social__icon.social__icon--instagram
						a(href="https://www.instagram.com/jub_jik/" target="_blank")
					li
						.social__icon.social__icon--vk
						a(href="https://vk.com/jubjikbalachiha" target="_blank")
					li
						.social__icon.social__icon--whatcap
						a(href="https://wa.me/89777760480" target="_blank")
					li
						.social__icon.social__icon--email
						a(href="mailto:jub-jik@yandex.ru" target="_blank")

			.section-communication__col
				h3.title Оставьте заявку
				.section-communication__inputs
					input(type="text" placeholder="Ваше имя")
					input(type="text" placeholder="Ваш телефон")
				.section-communication__consent
					input(type="checkbox" id="consent")
					label(for="consent") согласен на обработку <br>персональных данных
					.section-communication__btn
						input(type="submit").main-button