// communication
.section-communication#anchor
	.container
		.section-communication__wrapper
			.section-communication__col
				h3.title Свяжитесь с нами
				ul.social.section-communication__contacts
					li
						a.social__icon.social__icon--tel-mode(href="+79777760480") +7 (977) 776-04-80
					li
						a.social__icon.social__icon--address-mode(href="https://goo.gl/maps/udJpjGYiVY2qdoGq7" target="_blank") Карла Маркса, 6
					li
						a.social__icon.social__icon--tel-mode(href="+74983037858") +7 (498) 303-78-58
					li
						a.social__icon.social__icon--address-mode(href="https://goo.gl/maps/yuMNYd57nvBVdVCX6" target="_blank") Карла Маркса, 68
				h3.title Напишите нам
				ul.section-communication__social
					li
						a.social__icon.social__icon--instagramm-mode(href="https://www.instagram.com/jub_jik/" target="_blank")
					li
						a.social__icon.social__icon--vk-mode(href="https://vk.com/jubjikbalachiha" target="_blank")
					li
						a.social__icon.social__icon--whatcap-mode(href="https://wa.me/89777760480" target="_blank")
					li
						a.social__icon.social__icon--email-mode(href="mailto:jub-jik@yandex.ru" target="_blank")

			.section-communication__col
				h3.title Оставьте заявку
				.section-communication__inputs
					input(type="text" placeholder="Ваше имя")
					input(type="text" placeholder="Ваш телефон")
				.section-communication__consent
					input(type="checkbox" id="consent")
					label(for="consent") согласен на обработку <br>персональных данных
					.section-communication__btn
						input(type="submit").main-button