footer
	.container
		.main-footer
			.main-footer__top
				.logo
					a(href="index.html")
						img(src="../images/icons/logo.svg" alt="")
				.main-menu
					ul

						li
							a(href="services.html") Услуги
						li
							a(href="sales.html") Акции
						li
							a(href="gallery.html") Галерея
						li
							a(href="about.html") О нас
						li
							a(href="contacts.html") Контакты
			.main-footer__bottom
				.footer-bottom__col
					p © 2009-2020 ЧУБ-ЧИК. Федеральная сеть детских парикмахерских. Все права защищены

				.footer-bottom__col
					p
						span Разработано в 
						a(href="https://kvokka.com/") kvokka