header
	.container
		.main-header
			.logo
				a(href="index.html")
					img(src="images/icons/logo.svg" alt="")
			.main-menu
				ul
					li
						a(href="services.html") Услуги
					li
						a(href="sales.html") Акции
					li
						a(href="gallery.html") Галерея
					li
						a(href="about.html") О нас
					li
						a(href="contacts.html") Контакты
			.main-header__contacts
				ul.social
					li
						a.social__icon.social__icon--address(href="") Курск
					li
						a.social__icon.social__icon--tel(href="tel:+79777760480") +7 (977) 776-04-80
			.burger
				