.mobile-menu
	ul
		li
			a(href="services.html") Услуги
		li
			a(href="sales.html") Акции
		li
			a(href="gallery.html") Галерея
		li
			a(href="about.html") О нас
		li
			a(href="contacts.html") Контакты