.figure {
	position: absolute;
}

.figure__services-1 {
	width: 131px;
	height: 106px;
	position: absolute;
	left: -200px;
	top: 300px;
	background-image: url("../images/backgrounds/services-left.png");
	background-repeat: no-repeat;
}

.figure__services-2 {
	width: 130px;
	height: 219px;
	position: absolute;
	left: -200px;
	top: 600px;
	background-image: url("../images/backgrounds/services-left-2.png");
	background-repeat: no-repeat;
}

.figure__services-3 {
	width: 132px;
	height: 132px;
	position: absolute;
	right: -200px;
	top: 300px;
	background-image: url("../images/backgrounds/services-right.png");
	background-repeat: no-repeat;
}

.figure__services-4 {
	width: 130px;
	height: 219px;
	position: absolute;
	left: -200px;
	top: 100px;
	background-image: url("../images/backgrounds/services-left-2.png");
	background-repeat: no-repeat;
}

.figure__why-1 {
	width: 297px;
	height: 170px;
	position: absolute;
	left: -400px;
	top: 100px;
	background-image: url("../images/backgrounds/why-left.png");
	background-repeat: no-repeat;
}

.figure__why-2 {
	width: 297px;
	height: 170px;
	position: absolute;
	right: -400px;
	top: 100px;
	background-image: url("../images/backgrounds/why-right.png");
	background-repeat: no-repeat;
}

.figure__about-1 {
	width: 241px;
	height: 107px;
	position: absolute;
	left: -400px;
	top: 200px;
	background-image: url("../images/backgrounds/federal__left.png");
	background-repeat: no-repeat;
}

.figure__about-2 {
	width: 169px;
	height: 174px;
	position: absolute;
	right: -300px;
	top: 100px;
	background-image: url("../images/backgrounds/federal__right.png");
	background-repeat: no-repeat;
}

.figure__contacts {
	width: 260px;
	height: 88px;
	position: absolute;
	left: -350px;
	top: 50px;
	background-image: url("../images/backgrounds/contacts-left.png");
	background-repeat: no-repeat;
}

.figure__sales-1 {
	width: 182px;
	height: 138px;
	position: absolute;
	right: -350px;
	top: 200px;
	background-image: url("../images/backgrounds/sales-right.png");
	background-repeat: no-repeat;
}

.figure__sales-2 {
	width: 132px;
	height: 132px;
	position: absolute;
	left: -200px;
	top: 300px;
	background-image: url("../images/backgrounds/services-right.png");
	background-repeat: no-repeat;
}

.figure__gallery-1 {
	width: 143px;
	height: 116px;
	position: absolute;
	right: -200px;
	top: 100px;
	background-image: url("../images/backgrounds/gallery__right.png");
	background-repeat: no-repeat;
}