header {
	box-shadow: 0 0 5px 3px #8888882b;
	@media (max-width: 768px) {
		height: 80px;
		.container {
			height: 100%;
		}
		.main-header {
			height: 100%;
		}
	}
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	li {
		margin-right: 34px;
	}
	.logo {
		padding-right: 20px;
		width: 185px;
		height: 57px;
		@media (max-width: 768px) {
			width: 126px;
			height: 38px;
		}
	}
}

.main-header__contacts {
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		margin-right: 30px;
	}
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $color-black;
		&:hover {
			color: $color-blue;
			.other-icon--location--mode {
				background-position: 0 -25px;
			}
			.other-icon--tel--mode {
				background-position: -50px -25px;
			}
		}
	}
	.icon {
		width: 25px;
		height: 25px;
		background-color: $color-blue;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
	}
	@media (max-width: 768px) {
		display: none;
	}
}
