.mobile-menu {
	display: none;
	&.active {
		display: block;
		position: fixed;
		box-shadow: 0 0 5px 3px #8888882b;
		top: 10px;
		right: 10px;
		border-radius: 20px;
		overflow: hidden;
		ul {
			background-color: $color-white;
			display: flex;
			flex-direction: column;

			padding: 40px 55px;
			li {
				line-height: 2.5;
				text-align: center;
				a {
					font-size: 18px;
					font-weight: 600;
					text-decoration: none;
					color: $color-black;
				}
			}
		}
	}
}
