doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		include modules/header.pug

		main

			// breadcrumbs
			.breadcrumbs
				.container
					ul
						li
							a(href="index.html") Главная
						li
							span /
						li
							span.active Контакты

			//contacts
			section.section-contacts
				.container
					h1.title Контакты
					.figure.figure__contacts
					.section-contacts__wrapper
						.section-contacts__col.section-contacts__col--address
							.section-contacts__row

								h3.section-contacts__title Адреса
								ul.social
									li
										a.social__icon.social__icon--address(href="https://goo.gl/maps/LLZiLU8MXsmZVRd59" target="_blank") г.Курск ул.Карла Маркса 68, ТРК «МегаГРИНН»
									li
										a.social__icon.social__icon--address(href="https://goo.gl/maps/ZT2MrVo7HnPYdrh17" target="_blank") г.Курск, ул.Карла Маркса 6, ТРЦ»Central Park»
							.section-contacts__row

								h3.section-contacts__title Мы в социальных сетях
								ul.social
									//- whatcap
									li
										a.social__icon.social__icon--whatcap(href="https://wa.me/89777760480" target="_blank") +7 (977) 776-04-80
									//- vk
									li
										a.social__icon.social__icon--vk(href="https://vk.com/jubjikbalachiha" target="_blank") vk.com/jubjikbalachiha
									//- instagramm
									li
										a.social__icon.social__icon--instagramm(href="https://instagramm.com/jubjik_balashicha" target="_blank") instagramm.com/jubjik_balashicha
									//- youtube
									li
										a.social__icon.social__icon--youtube(href="https://youtube.com" target="_blank") youtube.com
									//- ok
									li
										a.social__icon.social__icon--ok(href="https://ok.ru/group/52794948911286" target="_blank") ok.ru/group/52794948911286
									//- email
									li
										a.social__icon.social__icon--email(href="mailto:romarina2@mail.ru" target="_blank") romarina2@mail.ru

							.section-contacts__row
								h3.section-contacts__title Телефоны
								ul.social
									li
										a.social__icon.social__icon--tel(href="tel:+79777760480") +7 (977) 776-04-80
									li
										a.social__icon.social__icon--tel(href="tel:+74983037858") +7 (498) 303-78-58

						.section-contacts__col.section-contacts__col--map
							.section-contacts__map#map
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2470.127578309335!2d36.19077459846282!3d51.74899064087954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412f03bbfbfd7c4d%3A0xd8d4036ddcfd8132!2z0KfRg9CxLdCn0LjQuiDQv9Cw0YDQuNC60LzQsNGF0LXRgNGB0LrQsNGPINC00LvRjyDQtNC10YLQtdC5!5e0!3m2!1sru!2sru!4v1590077033726!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

			// request
			section.section-request
				.container
					h3.title Оставьте заявку
					form(action="get").section-request__form
						.inputs
							input(type="text" placeholder="Ваше имя")
							input(type="text" placeholder="Ваш телефон")
						.consent
							input(type="checkbox" id="consent")
							label(for="consent")
								span согласен на обработку персональных данных и с условиями пользовательского соглашения

							input(type="submit").main-button

		include modules/footer.pug
		include modules/mobile-menu.pug
		include modules/script.pug