doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		include modules/header.pug

		main

			//- breadcrumbs
			.breadcrumbs
				.container
					ul
						li
							a(href="index.html") Главная
						li
							span /
						li
							a(href="personal.html") Персонал
						li
							span /
						li
							span.active Елена Петрова

			//- master
			section.section-master
				.container
					.figure.figure__candy
					.figure.figure__sun
					.figure.figure__star
					.master__wrapper
						.master__col
							.master__head
								h2.title Еллен Петрова
								p.subtitle Старший парикмахер
							.master__picture
								img(src="images/personal/8.jpg" alt="")
						.master__col
							p.master__smal-title Отзывы о специалисте
							ul.master-reviews
								li
									.head
										.master-reviews__col
											.master-reviews__picture
												img(src="images/personal/small1.png" alt="")
											span.master-reviews__name Илана Николаевна
										.master-reviews__col
											.master-reviews__icon
									.content
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae obcaecati fugiat maiores eius, officia odio deleniti architecto? Architecto iste, nobis obcaecati ipsum incidunt repellendus dolore tenetur consectetur rem, asperiores ducimus reprehenderit consequuntur illum dolorum quisquam aperiam rerum quasi tempore mollitia perferendis ut! Culpa minus architecto dolorum repellat libero. Eum rem minima qui! Ipsam soluta consequuntur voluptas nulla eveniet, iusto eligendi odio provident blanditiis! Porro aliquid quae sed voluptate deleniti officiis? Deleniti eius cumque architecto ratione, culpa quaerat. Quidem, distinctio aliquid illum nesciunt aperiam fugiat! Iure earum sit perspiciatis in saepe, aspernatur aliquam iste labore minus sapiente inventore enim expedita omnis?
							ul.master-reviews
								li
									.head
										.master-reviews__col
											.master-reviews__picture
												img(src="images/personal/small1.png" alt="")
											span.master-reviews__name Илана Николаевна
										.master-reviews__col
											.master-reviews__icon
									.content
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae obcaecati fugiat maiores eius, officia odio deleniti architecto? Architecto iste, nobis obcaecati ipsum incidunt repellendus dolore tenetur consectetur rem, asperiores ducimus reprehenderit consequuntur illum dolorum quisquam aperiam rerum quasi tempore mollitia perferendis ut! Culpa minus architecto dolorum repellat libero. Eum rem minima qui! Ipsam soluta consequuntur voluptas nulla eveniet, iusto eligendi odio provident blanditiis! Porro aliquid quae sed voluptate deleniti officiis? Deleniti eius cumque architecto ratione, culpa quaerat. Quidem, distinctio aliquid illum nesciunt aperiam fugiat! Iure earum sit perspiciatis in saepe, aspernatur aliquam iste labore minus sapiente inventore enim expedita omnis?
							ul.master-reviews
								li
									.head
										.master-reviews__col
											.master-reviews__picture
												img(src="images/personal/small1.png" alt="")
											span.master-reviews__name Илана Николаевна
										.master-reviews__col
											.master-reviews__icon
									.content
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae obcaecati fugiat maiores eius, officia odio deleniti architecto? Architecto iste, nobis obcaecati ipsum incidunt repellendus dolore tenetur consectetur rem, asperiores ducimus reprehenderit consequuntur illum dolorum quisquam aperiam rerum quasi tempore mollitia perferendis ut! Culpa minus architecto dolorum repellat libero. Eum rem minima qui! Ipsam soluta consequuntur voluptas nulla eveniet, iusto eligendi odio provident blanditiis! Porro aliquid quae sed voluptate deleniti officiis? Deleniti eius cumque architecto ratione, culpa quaerat. Quidem, distinctio aliquid illum nesciunt aperiam fugiat! Iure earum sit perspiciatis in saepe, aspernatur aliquam iste labore minus sapiente inventore enim expedita omnis?
							ul.master-reviews.slide-down
								li
									.head
										.master-reviews__col
											.master-reviews__picture
												img(src="images/personal/small1.png" alt="")
											span.master-reviews__name Илана Николаевна
										.master-reviews__col
											.master-reviews__icon
									.content
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae obcaecati fugiat maiores eius, officia odio deleniti architecto? Architecto iste, nobis obcaecati ipsum incidunt repellendus dolore tenetur consectetur rem, asperiores ducimus reprehenderit consequuntur illum dolorum quisquam aperiam rerum quasi tempore mollitia perferendis ut! Culpa minus architecto dolorum repellat libero. Eum rem minima qui! Ipsam soluta consequuntur voluptas nulla eveniet, iusto eligendi odio provident blanditiis! Porro aliquid quae sed voluptate deleniti officiis? Deleniti eius cumque architecto ratione, culpa quaerat. Quidem, distinctio aliquid illum nesciunt aperiam fugiat! Iure earum sit perspiciatis in saepe, aspernatur aliquam iste labore minus sapiente inventore enim expedita omnis?
							ul.master-reviews.slide-down
								li
									.head
										.master-reviews__col
											.master-reviews__picture
												img(src="images/personal/small1.png" alt="")
											span.master-reviews__name Илана Николаевна
										.master-reviews__col
											.master-reviews__icon
									.content
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae obcaecati fugiat maiores eius, officia odio deleniti architecto? Architecto iste, nobis obcaecati ipsum incidunt repellendus dolore tenetur consectetur rem, asperiores ducimus reprehenderit consequuntur illum dolorum quisquam aperiam rerum quasi tempore mollitia perferendis ut! Culpa minus architecto dolorum repellat libero. Eum rem minima qui! Ipsam soluta consequuntur voluptas nulla eveniet, iusto eligendi odio provident blanditiis! Porro aliquid quae sed voluptate deleniti officiis? Deleniti eius cumque architecto ratione, culpa quaerat. Quidem, distinctio aliquid illum nesciunt aperiam fugiat! Iure earum sit perspiciatis in saepe, aspernatur aliquam iste labore minus sapiente inventore enim expedita omnis?
							ul.master-reviews.slide-down
								li
									.head
										.master-reviews__col
											.master-reviews__picture
												img(src="images/personal/small1.png" alt="")
											span.master-reviews__name Илана Николаевна
										.master-reviews__col
											.master-reviews__icon
									.content
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae obcaecati fugiat maiores eius, officia odio deleniti architecto? Architecto iste, nobis obcaecati ipsum incidunt repellendus dolore tenetur consectetur rem, asperiores ducimus reprehenderit consequuntur illum dolorum quisquam aperiam rerum quasi tempore mollitia perferendis ut! Culpa minus architecto dolorum repellat libero. Eum rem minima qui! Ipsam soluta consequuntur voluptas nulla eveniet, iusto eligendi odio provident blanditiis! Porro aliquid quae sed voluptate deleniti officiis? Deleniti eius cumque architecto ratione, culpa quaerat. Quidem, distinctio aliquid illum nesciunt aperiam fugiat! Iure earum sit perspiciatis in saepe, aspernatur aliquam iste labore minus sapiente inventore enim expedita omnis?
							ul.master-reviews.slide-down
								li
									.head
										.master-reviews__col
											.master-reviews__picture
												img(src="images/personal/small1.png" alt="")
											span.master-reviews__name Илана Николаевна
										.master-reviews__col
											.master-reviews__icon
									.content
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae obcaecati fugiat maiores eius, officia odio deleniti architecto? Architecto iste, nobis obcaecati ipsum incidunt repellendus dolore tenetur consectetur rem, asperiores ducimus reprehenderit consequuntur illum dolorum quisquam aperiam rerum quasi tempore mollitia perferendis ut! Culpa minus architecto dolorum repellat libero. Eum rem minima qui! Ipsam soluta consequuntur voluptas nulla eveniet, iusto eligendi odio provident blanditiis! Porro aliquid quae sed voluptate deleniti officiis? Deleniti eius cumque architecto ratione, culpa quaerat. Quidem, distinctio aliquid illum nesciunt aperiam fugiat! Iure earum sit perspiciatis in saepe, aspernatur aliquam iste labore minus sapiente inventore enim expedita omnis?

							
							//- button
							.section-sales__btn
								a.main-button#show-more Показать больше

							//- reviews
							.reviews#reviews
								h3.reviews__title Оставить отзыв о специалисте
								form(action="get")
									input(type="text" placeholder="Как вас зовут?")
									textarea(placeholder="Введите текст")
									.form__btns
										span.reviews__close Отмена
										input(type="submit" value="Отправить").main-button
									

			include modules/communication.pug

		include modules/footer.pug
		include modules/mobile-menu.pug
		include modules/script.pug