$color-black: #000001;
$color-blue: #00ccff;
$color-blue-hover: #20b0e5;
$color-white: #ffffff;
$color-grey: #efefef;
$color-violet: #8192ca;
$color-violet-text: #352b5e;
$color-green: #acd037;

$font: "Montserrat Alternates", sans-serif;
